/* ------------------ Compatibility options grid ------------------ */
html {
  --compat-border-radius: 2px;
  --compat-accent-color: var(--pst-color-primary);
  --compat-bg-color: var(--pst-color-on-background);
  --compat-fg-color: var(--pst-color-primary-text);
  --compat-head-color: var(--pst-color-surface);
  --compat-param-hover-color: var(--pst-color-link-hover);
  --compat-param-selected-color: var(--pst-color-primary);
}

html[data-theme="light"] {
  --compat-border-color: var(--pst-gray-500);
  --compat-param-disabled-color: var(--pst-gray-300);
}

html[data-theme="dark"] {
  --compat-border-color: var(--pst-gray-600);
  --compat-param-disabled-color: var(--pst-gray-600);
}

div#compat-params-selector.container-fluid {
  padding: 0 0 1rem 0;
}

div.compat-param {
  background-color: var(--compat-bg-color);
  cursor: pointer;
}

div.compat-param[data-param-state="selected"] {
  background-color: var(--compat-param-selected-color);
  color: var(--compat-fg-color);
}

div.compat-param[data-param-state="latest-version"] {
  background-color: var(--compat-param-selected-color);
  color: var(--compat-fg-color);
}

div.compat-param[data-param-state="disabled"] {
  background-color: var(--compat-param-disabled-color);
  text-decoration: line-through;
  /* text-decoration-color: var(--pst-color-danger); */
  cursor: auto;
}

div.compat-param:not([data-param-state="disabled"]):not([data-param-state="latest-version"]):hover {
  background-color: var(--compat-param-hover-color);
}

.compat-param-head {
  background-color: var(--compat-head-color);
  padding: 0.15rem 0.15rem 0.15rem 0.67rem;
  margin: 2px;
  border-right: solid 2px var(--compat-accent-color);
  font-weight: 600;
}

.compat-param {
  padding: 2px;
  margin: 2px;
  border: solid 1px var(--compat-border-color);
  font-weight: 500;
}

/* ---------------------- Compatibility table --------------------- */
table#compat-matrix {
  overflow-x: auto;

  /* Make the header stick to the top of the viewport. */
  thead>tr {
    position: sticky;
    top: 2.9rem;
    z-index: 2;
    background-color: var(--compat-param-disabled-color);
  }
}

/* Compatibility matrix table */
table#compat-matrix {
  margin-top: 1.5rem;
  /* Table columns */
  colgroup {
    col#compat-matrix-stub-col {
      width: 30%;
    }
  }

  th a.headerlink {
    font-size: 1.1rem;
  }

  /* Table section headings */
  tbody tr:first-of-type th h2 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0.5rem 0 0.25rem 0;
  }

  tbody tr:not(:first-of-type):not([colspan]) th {
    font-size: 1rem;
    font-weight: 600;
  }

  tbody tr td ul {
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      /* align-items: center; */
      gap: 0.5rem;

      span {
        font-size: 0.8rem;
        border-radius: var(--compat-border-radius)
      }
    }
  }

  /* Table section dividers */
  tbody tr:last-of-type {
    border-bottom: 2px solid var(--compat-accent-color);
  }
}
